:root {
  --primary-color: #fff;
  --secondary-color: rgb(10, 172, 172);
  --font-main: "GothamSSm";
}
@font-face {
  font-family: "gothamSSm";
  src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2)
    format("woff2");
  font-weight: "light";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* to check */
}

body {
  display: flex;
  height: 100vh;
  display: relative;
  /* font-family: ; */
  font-family: var(--font-main);
}
.first-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.header-flex {
  display: flex;
  /* position: relative;*/
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  width: 100%;

  z-index: 1;
  /* 
  position: sticky; */
}

.logo {
  /* width: 70px; */
  height: auto;
  padding: 15px 0px 15px 50px;

  display: flex;
  /* align-self: flex-end; */
  /* width: 25%; */
  /* border: black 2px solid; */
  position: relative;
  flex-grow: 1;
}

svg {
  color: var(--primary-color);

  width: 32%;
}

.main-nav {
  flex-grow: 2;
}
.side-nav {
  flex-grow: 1;
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
  align-items: center;
  text-align: center;
  padding: 0px 8px;

  /* border: black 2px solid; */
  font-size: 14px;
}

.main-nav ul li {
  padding: 12px 0px;
  margin: 5px 0px;
  /* margin-top: 10px; */
  font-weight: bold;
}

.btn {
  padding: 8px 17px;
  transition: 0.7s;
  border-radius: 12px;
}
.btn:hover {
  background: grey;
}

.side-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 0px 32px;

  /* border: black 2px solid; */
  font-size: 14px;
}

.side-nav ul li {
  padding: 12px 0px;
  margin: 5px 0px;
  /* margin-top: 10px; */
  font-weight: bold;
}

.main-nav a {
  color: var(--primary-color);
  text-decoration: none;
  /* padding: 4px 8px; */
}

/* .main-nav ul li:hover {
  background: grey;
  border-radius: 5%;
} */
.side-nav a {
  color: var(--primary-color);
  text-decoration: none;
  /* padding: 4px 8px; */
}

.header-name {
  color: var(--primary-color);
  margin-top: 5vh;
}

.header-name h1 {
  font-size: 40px;
  font-family: var(--font-main);
  font-weight: bold;
}
.main-img {
  height: 100vh;

  background: url("../images/car-1.jpg") no-repeat center center/cover;
  position: relative;
}
main {
  color: var(--primary-color);
}

.footer-flex {
  display: flex;
  /* position: relative;*/
  /* justify-content: flex-end;
  align-items: flex-end; */
  /* text-align: center; */
  max-width: 50%;
  z-index: 1;

  margin-top: 55vh;
}
